 
 /* External style sheet for restaurant v2 */


 header { 
        text-align:center;
        padding:15px;
        font-weight:bold;
        font-family: Chewy;
        font-size: 50px;
} 

ul {
       font-family:Comic Sans MS: cursive;
        margin:0;
        padding:5px;
        
}

li {
        display: inline;
        
}        
footer { 
	    text-align:center;
	    padding:5px;
	    font-family: Comic Sans MS;
}

th{ font-size: 25px;
}

a {             color: none;
                font-family: Comic Sans MS;
                font-weight: none;
                text-decoration: none;
                	
}
a:link {       
                color: none;
}
        
a:visited {   
                color: Red;
}
        
a:hover {   
                font-weight: bold;
                
}
        
a:active {
                text-decoration: none;
}
