 
 /* External style sheet for restaurant v2 */


 header { 
        text-align:center;
        padding:10px;
        font-weight:bold;
        font-family: Chewy;
        font-size: 50px;
} 

ul {
       font-family:Comic Sans MS: cursive;
        margin:0;
        padding:5px;
        word-spacing: 2em;
        
}
#contact {
                        word-spacing: 0em
}

li {
        display: inline;
        
}        
footer { 
	    text-align:center;
	    padding:5px;
	    font-family: Comic Sans MS;
}

th{ text-align:center;
    font-size: 20px;
    padding:20px;
}

a {             color: none;
                font-family: Comic Sans MS;
                font-weight: none;
                text-decoration: none;
               
}
a:link {       
                color: none;
}
        
a:visited {   
                color: Red;
}
        
a:hover {   
                font-weight: bold;
                
}
        
a:active {
                text-decoration: none;
}



