
/* external style sheet for albumPage */

body {
    color:white;
}

table { color:white;
		border: 1px solid black;		
		border-collapse: collapse;		
		border-color:white;	
		border-spacing: 5px;

	}
	
td, th { 
		font-family: Cambria;
		font-size: 80%;
		padding: 10px;

}
	
caption 
	{
    text-align: center;
    margin-bottom: 10px;	
    font-size: 110%;
    padding: 10px;
    
}