 
 /* External style sheet for restaurant v2 */

 header { 
        text-align:center;
        padding:15px;
        font-weight:bold;
        font-family: Comic Sans MS;
        font-size: 25px;
} 

ul {
	font-family:Comic Sans MS;
}
footer { 
	    text-align:center;
	    padding:5px;
	    font-family: Comic Sans MS;


}