 
 /* External style sheet for restaurant v2 */


 header { 
        text-align:center;
        padding:15px;
        font-weight:bold;
        font-family: Chewy;
        font-size: 50px;
} 

ul {
	font-family:Comic Sans MS;
}
footer { 
	    text-align:center;
	    padding:5px;
	    font-family: Comic Sans MS;


}

header{
         font-family:Chewy;
}

th{ font-size: 30px
}

